In [4]:
# library import
import requests
import pandas as pd
import numpy as np
from datetime import datetime 
import re

from utils import ingestion

### 1. INGEST PRICE OF TESLA STOCK

In [4]:
# Ingestion flow
# Major stocks in US market 
stock_to_ingest = ["NVDA", "MSFT", "AAPL", "GOOGL", "AMZN", "META", "AVGO", "TSLA", "JPM"]

# Ingest data
final_df = pd.DataFrame()
for stock in stock_to_ingest: 
    print(f"Ingesting price data for {stock} ...")        
    # append to final_df
    df_temp = ingestion.us_stock_price_yahoo_finance(stock)
    final_df = pd.concat([final_df, df_temp], ignore_index=True)
    print(f"Complete for stock {stock} ...\n")
display(final_df)

Ingesting price data for NVDA ...
Complete for stock NVDA ...

Ingesting price data for MSFT ...
Complete for stock MSFT ...

Ingesting price data for AAPL ...
Complete for stock AAPL ...

Ingesting price data for GOOGL ...
Complete for stock GOOGL ...

Ingesting price data for AMZN ...
Complete for stock AMZN ...

Ingesting price data for META ...
Complete for stock META ...

Ingesting price data for AVGO ...
Complete for stock AVGO ...

Ingesting price data for TSLA ...
Complete for stock TSLA ...

Ingesting price data for JPM ...
Complete for stock JPM ...

,timestamp,open,high,low,close,adjclose,volume,datetime,year,month,day,ticker,table_name
0,2009-12-30 14:30:00,0.454750,0.469500,0.451500,0.466750,0.427956,704008000,20091230,2009,12,30,NVDA,us_stock_price_yahoo_finance
1,2009-12-31 14:30:00,0.467750,0.473750,0.466500,0.467000,0.428186,700340000,20091231,2009,12,31,NVDA,us_stock_price_yahoo_finance
2,2010-01-04 14:30:00,0.462750,0.465500,0.452750,0.462250,0.423830,800204000,20100104,2010,1,4,NVDA,us_stock_price_yahoo_finance
3,2010-01-05 14:30:00,0.460500,0.474000,0.460500,0.469000,0.430019,728648000,20100105,2010,1,5,NVDA,us_stock_price_yahoo_finance
4,2010-01-06 14:30:00,0.468750,0.473000,0.464250,0.472000,0.432770,649168000,20100106,2010,1,6,NVDA,us_stock_price_yahoo_finance
...,...,...,...,...,...,...,...,...,...,...,...,...,...
34730,2025-08-22 13:30:00,293.200012,297.160004,290.130005,296.239990,296.239990,8552800,20250822,2025,8,22,JPM,us_stock_price_yahoo_finance
34731,2025-08-25 13:30:00,296.239990,297.350006,294.140015,294.899994,294.899994,5856300,20250825,2025,8,25,JPM,us_stock_price_yahoo_finance
34732,2025-08-26 13:30:00,294.160004,298.739990,293.500000,298.570007,298.570007,6714700,20250826,2025,8,26,JPM,us_stock_price_yahoo_finance
34733,2025-08-27 13:30:00,297.250000,301.070007,297.040009,299.279999,299.279999,6056500,20250827,2025,8,27,JPM,us_stock_price_yahoo_finance
34734,2025-08-28 13:30:00,300.019989,301.239990,298.700012,301.070007,301.070007,6410500,20250828,2025,8,28,JPM,us_stock_price_yahoo_finance

In [15]:
final_df.to_csv("data/ingestion/price/us_stock_price_yahoo_finance_top10.csv")

### 2. INGEST NEWS OF TESLA STOCK

##### 2.1 INGEST NEWS LINK OF TESLA STOCK

In [11]:
queries_to_search = ["elon musk", "tesla", "spacex", "autopilot", "supercharger"]
# Run the crawler and store the results in a variable
article_data = ingestion.nbc_news_article_crawler(queries_to_search)

--- Starting crawl for query: 'elon musk' ---
Fetched batch starting at 0: 100 items (total found: 3888)
Added 59 new, unique articles.
Fetched batch starting at 100: 100 items (total found: 3888)
Added 74 new, unique articles.
Fetched batch starting at 200: 100 items (total found: 3888)
Added 73 new, unique articles.
Fetched batch starting at 300: 100 items (total found: 3888)
Added 68 new, unique articles.
Fetched batch starting at 400: 100 items (total found: 3888)
Added 77 new, unique articles.
Fetched batch starting at 500: 100 items (total found: 3888)
Added 72 new, unique articles.
Fetched batch starting at 600: 100 items (total found: 3888)
Added 91 new, unique articles.
Fetched batch starting at 700: 100 items (total found: 3888)
Added 72 new, unique articles.
Fetched batch starting at 800: 100 items (total found: 3888)
Added 66 new, unique articles.
Fetched batch starting at 900: 100 items (total found: 3888)
Added 91 new, unique articles.
Fetched batch starting at 1000: 100 items (total found: 3888)
Added 83 new, unique articles.
Fetched batch starting at 1100: 100 items (total found: 3888)
Added 90 new, unique articles.
Fetched batch starting at 1200: 100 items (total found: 3888)
Added 86 new, unique articles.
Fetched batch starting at 1300: 100 items (total found: 3888)
Added 96 new, unique articles.
Fetched batch starting at 1400: 100 items (total found: 3888)
Added 87 new, unique articles.
Fetched batch starting at 1500: 100 items (total found: 3888)
Added 69 new, unique articles.
Fetched batch starting at 1600: 100 items (total found: 3888)
Added 84 new, unique articles.
Fetched batch starting at 1700: 100 items (total found: 3888)
Added 91 new, unique articles.
Fetched batch starting at 1800: 100 items (total found: 3888)
Added 92 new, unique articles.
Fetched batch starting at 1900: 100 items (total found: 3888)
Added 75 new, unique articles.
Fetched batch starting at 2000: 100 items (total found: 3888)
Added 91 new, unique articles.
Fetched batch starting at 2100: 100 items (total found: 3888)
Added 93 new, unique articles.
Fetched batch starting at 2200: 100 items (total found: 3888)
Added 95 new, unique articles.
Fetched batch starting at 2300: 100 items (total found: 3888)
Added 98 new, unique articles.
Fetched batch starting at 2400: 100 items (total found: 3888)
Added 95 new, unique articles.
Fetched batch starting at 2500: 100 items (total found: 3888)
Added 98 new, unique articles.
Fetched batch starting at 2600: 100 items (total found: 3888)
Added 100 new, unique articles.
Fetched batch starting at 2700: 100 items (total found: 3888)
Added 100 new, unique articles.
Fetched batch starting at 2800: 100 items (total found: 3888)
Added 100 new, unique articles.
Fetched batch starting at 2900: 100 items (total found: 3888)
Added 100 new, unique articles.
Fetched batch starting at 3000: 100 items (total found: 3888)
Added 100 new, unique articles.
Fetched batch starting at 3100: 100 items (total found: 3888)
Added 100 new, unique articles.
Fetched batch starting at 3200: 100 items (total found: 3888)
Added 100 new, unique articles.
Fetched batch starting at 3300: 100 items (total found: 3888)
Added 100 new, unique articles.
Fetched batch starting at 3400: 100 items (total found: 3888)
Added 100 new, unique articles.
Fetched batch starting at 3500: 100 items (total found: 3888)
Added 100 new, unique articles.
Fetched batch starting at 3600: 100 items (total found: 3888)
Added 100 new, unique articles.
Fetched batch starting at 3700: 100 items (total found: 3888)
Added 100 new, unique articles.
Fetched batch starting at 3800: 88 items (total found: 3888)
Added 88 new, unique articles.
No more items found for 'elon musk'. Moving to next query.

--- Starting crawl for query: 'tesla' ---
Fetched batch starting at 0: 100 items (total found: 2368)
Added 8 new, unique articles.
Fetched batch starting at 100: 100 items (total found: 2368)
Added 17 new, unique articles.
Fetched batch starting at 200: 100 items (total found: 2368)
Added 40 new, unique articles.
Fetched batch starting at 300: 100 items (total found: 2368)
Added 15 new, unique articles.
Fetched batch starting at 400: 100 items (total found: 2368)
Added 25 new, unique articles.
Fetched batch starting at 500: 100 items (total found: 2368)
Added 23 new, unique articles.
Fetched batch starting at 600: 100 items (total found: 2368)
Added 40 new, unique articles.
Fetched batch starting at 700: 100 items (total found: 2368)
Added 26 new, unique articles.
Fetched batch starting at 800: 100 items (total found: 2368)
Added 29 new, unique articles.
Fetched batch starting at 900: 100 items (total found: 2368)
Added 22 new, unique articles.
Fetched batch starting at 1000: 100 items (total found: 2368)
Added 21 new, unique articles.
Fetched batch starting at 1100: 100 items (total found: 2368)
Added 32 new, unique articles.
Fetched batch starting at 1200: 100 items (total found: 2368)
Added 42 new, unique articles.
Fetched batch starting at 1300: 100 items (total found: 2368)
Added 46 new, unique articles.
Fetched batch starting at 1400: 100 items (total found: 2368)
Added 26 new, unique articles.
Fetched batch starting at 1500: 100 items (total found: 2368)
Added 48 new, unique articles.
Fetched batch starting at 1600: 100 items (total found: 2368)
Added 52 new, unique articles.
Fetched batch starting at 1700: 100 items (total found: 2368)
Added 55 new, unique articles.
Fetched batch starting at 1800: 100 items (total found: 2368)
Added 68 new, unique articles.
Fetched batch starting at 1900: 100 items (total found: 2368)
Added 69 new, unique articles.
Fetched batch starting at 2000: 100 items (total found: 2368)
Added 54 new, unique articles.
Fetched batch starting at 2100: 100 items (total found: 2368)
Added 62 new, unique articles.
Fetched batch starting at 2200: 100 items (total found: 2368)
Added 79 new, unique articles.
Fetched batch starting at 2300: 68 items (total found: 2368)
Added 66 new, unique articles.
No more items found for 'tesla'. Moving to next query.

--- Starting crawl for query: 'spacex' ---
Fetched batch starting at 0: 100 items (total found: 2568)
Added 25 new, unique articles.
Fetched batch starting at 100: 100 items (total found: 2568)
Added 22 new, unique articles.
Fetched batch starting at 200: 100 items (total found: 2568)
Added 16 new, unique articles.
Fetched batch starting at 300: 100 items (total found: 2568)
Added 28 new, unique articles.
Fetched batch starting at 400: 100 items (total found: 2568)
Added 34 new, unique articles.
Fetched batch starting at 500: 100 items (total found: 2568)
Added 43 new, unique articles.
Fetched batch starting at 600: 100 items (total found: 2568)
Added 25 new, unique articles.
Fetched batch starting at 700: 100 items (total found: 2568)
Added 26 new, unique articles.
Fetched batch starting at 800: 100 items (total found: 2568)
Added 27 new, unique articles.
Fetched batch starting at 900: 100 items (total found: 2568)
Added 13 new, unique articles.
Fetched batch starting at 1000: 100 items (total found: 2568)
Added 20 new, unique articles.
Fetched batch starting at 1100: 100 items (total found: 2568)
Added 46 new, unique articles.
Fetched batch starting at 1200: 100 items (total found: 2568)
Added 35 new, unique articles.
Fetched batch starting at 1300: 100 items (total found: 2568)
Added 40 new, unique articles.
Fetched batch starting at 1400: 100 items (total found: 2568)
Added 23 new, unique articles.
Fetched batch starting at 1500: 100 items (total found: 2568)
Added 50 new, unique articles.
Fetched batch starting at 1600: 100 items (total found: 2568)
Added 49 new, unique articles.
Fetched batch starting at 1700: 100 items (total found: 2568)
Added 40 new, unique articles.
Fetched batch starting at 1800: 100 items (total found: 2568)
Added 54 new, unique articles.
Fetched batch starting at 1900: 100 items (total found: 2568)
Added 53 new, unique articles.
Fetched batch starting at 2000: 100 items (total found: 2568)
Added 64 new, unique articles.
Fetched batch starting at 2100: 100 items (total found: 2568)
Added 84 new, unique articles.
Fetched batch starting at 2200: 100 items (total found: 2568)
Added 88 new, unique articles.
Fetched batch starting at 2300: 100 items (total found: 2568)
Added 79 new, unique articles.
Fetched batch starting at 2400: 100 items (total found: 2568)
Added 75 new, unique articles.
Fetched batch starting at 2500: 68 items (total found: 2568)
Added 40 new, unique articles.
No more items found for 'spacex'. Moving to next query.

--- Starting crawl for query: 'autopilot' ---
Fetched batch starting at 0: 100 items (total found: 601)
Added 18 new, unique articles.
Fetched batch starting at 100: 100 items (total found: 601)
Added 55 new, unique articles.
Fetched batch starting at 200: 100 items (total found: 601)
Added 46 new, unique articles.
Fetched batch starting at 300: 100 items (total found: 601)
Added 97 new, unique articles.
Fetched batch starting at 400: 100 items (total found: 601)
Added 99 new, unique articles.
Fetched batch starting at 500: 100 items (total found: 601)
Added 100 new, unique articles.
Fetched batch starting at 600: 1 items (total found: 601)
Added 1 new, unique articles.
No more items found for 'autopilot'. Moving to next query.

--- Starting crawl for query: 'supercharger' ---
Fetched batch starting at 0: 48 items (total found: 48)
Added 10 new, unique articles.
No more items found for 'supercharger'. Moving to next query.

Completed crawl. Total unique articles found: 5944

In [13]:
article_data.to_csv("data/news/nbc_articles_links.csv")

##### 2.2 INGEST NEWS CONTENT OF TESLA STOCK

In [7]:
input_filename = "data/ingestion/news/nbc_articles_links.csv"
# Call the main functional entry point
result_df = ingestion.scrape_nbc_articles(input_filename, limit=10)
result_df = result_df.drop_duplicates(subset=["title"], keep="first")

Found 10 articles (showing first 10) to scrape from 'data/ingestion/news/nbc_articles_links.csv'.
(1/10) Scraping: https://www.nbcnews.com/tech/elon-musk/tesla-fsd-full-self-driving-accident-safety-rcna234514
(2/10) Scraping: https://www.nbcnews.com/tech/elon-musk/epstein-calendar-democrats-elon-musk-denies-visiting-island-rcna233955
(3/10) Scraping: https://www.nbcnews.com/news/us-news/olympics-figure-skater-alysa-liu-changes-program-death-investigation-i-rcna233679
(4/10) Scraping: https://www.nbcnews.com/tech/tech-news/youtube-start-bringing-back-creators-banned-covid-19-election-misinfor-rcna233486
(5/10) Scraping: https://www.nbcnews.com/news/us-news/cubs-matt-shaw-defends-missing-game-for-charlie-kirks-memorial-rcna233459
(6/10) Scraping: https://www.nbcnews.com/politics/trump-administration/trump-administration-rehires-fired-federal-employees-doge-rcna233390
(7/10) Scraping: https://www.nbcnews.com/science/science-news/trio-space-weather-satellites-blast-together-study-suns-violent-side-rcna233408
(8/10) Scraping: https://www.nbcnews.com/science/science-news/nasa-introduces-newest-astronauts-rcna233160
(9/10) Scraping: https://www.nbcnews.com/tech/tech-news/un-general-assembly-opens-plea-binding-ai-safeguards-red-lines-nobel-rcna231973
(10/10) Scraping: https://www.nbcnews.com/politics/trump-administration/charlie-kirk-funeral-conservative-revival-rcna232823

Successfully scraped and created a DataFrame with 10 articles.

In [6]:
result_df.to_csv("data/ingestion/news/nbc_articles_with_content_official.csv")